local/

# Python
*.py[cod]
*$py.class
__pycache__/
*.so

# Virtual environments
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/
*.code-workspace

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# JetBrains IDEs
.idea/
*.iml

# Azure specific
*.log
*.azure
.azuresettings
azure-pipelines.yml
terraform.tfstate
terraform.tfstate.backup
.terraform/
.azure/

# PyCharm
# Commented out as it may conflict with .idea/
# .idea/

# PyInstaller
# Usually these files are written by a python script from a template
# before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
nosetests.xml
coverage/
*.coverage
.cache

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Environments
.env
.env.*.local
.env.local
.env.*.json
.env.json

# Azure Functions
.local.settings.json
funcignore

# Azure DevOps
.devops/

# Miscellaneous
*.swp
*.swo
*.swn

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# PyBuilder
target/
